## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Temp,Current Discription,Lat,Lng,Hotel Name
0,0,flinders,AU,57.06,broken clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
1,1,mahebourg,MU,71.89,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,2,tuy hoa,VN,76.08,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
3,4,sorland,NO,51.87,light rain,67.6670,12.6934,Sjybrygga fiskecamp
4,5,rikitea,PF,73.11,clear sky,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Temp} Â°F</dd>
<dt>Weather Description</dt><dd>{Current Discription}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
data = pd.DataFrame(vacation_df)
data.set_index('City', inplace=True)
data.head()

,City_ID,Country,Temp,Current Discription,Lat,Lng,Hotel Name
City,,,,,,,
flinders,0,AU,57.06,broken clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
mahebourg,1,MU,71.89,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
tuy hoa,2,VN,76.08,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
sorland,4,NO,51.87,light rain,67.6670,12.6934,Sjybrygga fiskecamp
rikitea,5,PF,73.11,clear sky,-23.1203,-134.9692,People ThankYou

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = data.loc["winsum"]
vacation_end = data.loc["winsum"]
vacation_stop1 = data.loc["la ciotat"]
vacation_stop2 = data.loc["ascoli piceno"] 
vacation_stop3 = data.loc["portsmouth"]

In [40]:
vacation_start

        City_ID Country   Temp Current Discription    Lat     Lng Hotel Name
City
winsum      389      NL  66.99       broken clouds  53.33  6.5208   Tuinhuis
winsum     1076      NL  66.22       broken clouds  53.33  6.5208   Tuinhuis

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [42]:
end

(53.33, 6.5208)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_map = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3],
                                   travel_mode = 'DRIVING')

fig.add_layer(travel_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,Country,Temp,Current Discription,Lat,Lng,Hotel Name
0,389,NL,66.99,broken clouds,53.3300,6.5208,Tuinhuis
1,1076,NL,66.22,broken clouds,53.3300,6.5208,Tuinhuis
2,153,FR,77.81,scattered clouds,43.1748,5.6045,ibis La Ciotat
3,840,FR,77.56,scattered clouds,43.1748,5.6045,ibis La Ciotat
4,582,IT,75.24,scattered clouds,42.8548,13.5749,Hotel Palazzo Guiderocchi
5,1269,IT,75.24,scattered clouds,42.8548,13.5749,Hotel Palazzo Guiderocchi
6,563,GB,72.30,overcast clouds,50.7990,-1.0913,Best Western Royal Beach Hotel
7,1250,GB,71.92,overcast clouds,50.7990,-1.0913,Best Western Royal Beach Hotel

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City_ID}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Temp} Â°F</dd>
<dt>Weather Description</dt><dd>{Current Discription}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))